<p>
<mat-card>
    <mat-card-header>
      <mat-card-title>{{listItem.firstName}} {{listItem.lastName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{listItem.description}}
      <p>
        <button mat-button [routerLink]="['/map', listItem.id]">{{listItem.address.city}}, {{listItem.address.street}} {{listItem.address.number}}</button>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="removeItem(listItem.id)" mat-fab>REMOVE</button>
    </mat-card-actions>
  </mat-card>
</p>